<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>View ticket</title>
</head>

<body>

	<div class="container">
	
		<h3>Create Ticket</h3>
		<hr>
		
		<p class="h4 mb-4">View Ticket</p>
	
		<form action="#" th:action="@{/view}"
						 th:object="${tickets}" method="GET">
		
			 <table class="table table-bordered table-sm mt-2">
    <thead>
      <tr>
        <th>#</th>
        <th>Title</th>
        <th>Short description</th>
        <th>Ticket Created On</th>
         <th>Content</th>
       
      </tr>
    </thead>
    <tbody>
      <tr th:each="l : ${tickets}" th:field="${l}">
        <td th:text="${lStat.index+1}"></td>
        <td th:text="${l.title}"></td>
        <td th:text="${l.description}"></td>
        <td th:text="${l.content}"></td>
      
      </tr>
    </tbody>
  </table>
	
		<hr>
		<a th:href="@{/list}">Back to Tickets List</a>
		
	</div>
</body>

</html>










